img.post-thumbnail {
  width: 348px;
  height: 196px;
  display: block;
  object-fit: cover;
}

.blog-posts {
  a {
    text-decoration: none;
  }
}

.pagination {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
