<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand text-light" [routerLink]='["/"]'>
        <img class="navbar-portrait rounded-circle" src="../../assets/img/portrait.png" alt="Stephen Reynolds">
        <span class="d-none d-md-inline pl-2">Stephen Reynolds</span>
      </a>
      <div class="navbar-collapse collapse d-sm-inline-flex" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link text-light" [routerLink]='["/blog"]'>Blog</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link text-light" [routerLink]='["/projects"]'>Projects</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link text-light" [routerLink]='["/resume"]'>Resume</a>
          </li>
        </ul>
      </div>
      <div class="nav-item text-light">
        <form class="form-inline">
          <div class="input-group md-form form-sm form-2 pl-0">
            <input class="form-control my-0 py-1" id="searchbar" type="text" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <a class="input-group-text" id="search-button" [routerLink]="">
                <i class="fa fa-search text-grey" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </form>
      </div>
      <div class="nav-item dropdown" *ngIf="!showDropdown">
        <a class="nav-link text-light" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="fa fa-cog"></i></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="">Settings</a>
          <a class="dropdown-item" [routerLink]="">Theme</a>
          <div *ngIf="!user.loginRequired">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="" (click)="user.logout()">Logout <i class="fa fa-sign-out"
                aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>
